body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 50%;
  width: 60%;
}

.navigation {
  text-align: center;
}
.navigation button {
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 1.2em;
}
